.DS_Store
*.sublime-project
*.sublime-workspace
*.py[cod]
testdata/
*keys.yaml
*keys.yml
media/profile_pics/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
